@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'FoundersGroteskXCondensed';
  src: url('./assets/fonts/FoundersGrotesk-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

